/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--app-scroll-bg);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--app-scroll-color);
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--app-scroll-color);
}

html {
    scroll-behavior: smooth !important;
}

[data-bs-theme="dark"] {
    --logo-invert: 0
}

[data-bs-theme="light"] {
    --logo-invert: 1
}